body {
  background-color: #F6F6F6 /*papayawhip*/;
  overflow: hidden;
}

#blogbackground{
  background-color: #EDF5ED;
}
#nametitle {
  line-height: 0em;
  font-family: "Forum",serif;
  font-size: 60px;
  letter-spacing: -6px;
  padding-top: 10%;
  padding-left: 5%;
  margin-bottom: 3%;
}

#centeredtitle {
  text-align: center;
  line-height: 0em;
  font-family: "Forum",serif;
  font-size: 100px;
  letter-spacing: -6px;
  margin-bottom: 3%;
}

#blogentrytitle{
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

#blogentry{
  text-align: justify;
  width: 40%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  padding-left: 29%;
}

#datestamp{
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  color: #8F959E;
  text-align: justify;
  padding-left: 29%;
}

#para1 {
  text-align: center;
}

li{
  padding-left: 2%;
  display:inline;
  padding: 50px;
  font-family: "Forum",serif;
  letter-spacing: 2px;
}

a {
  color: #284A57;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover{
    background-color: #C7E3BD;
    text-decoration:underline;
}

#para2 {
  line-height: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  padding-left: 5%;
}

#para2point5 {
  line-height: 0.2em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  padding-left: 5%;
}

#para3 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: lighter;
  width: 48%;
  padding-left: 5%;
  padding-top: 2%;
  line-height: 1.7em;
  letter-spacing: 1.5%;
}


#btn{
  border: 1px solid black;
  padding: 7px;
  padding-left: 2%;
  padding-right: 2%;
  cursor: url("Styling/icons/cursor.svg"), auto;
  background: #F6F6F6;
}

#ctadiv{
  padding-left: 5%;
}

#iconpad{
  padding-left: 2%;
}

#flowerphoto{
  transform: rotate(200deg);
  position: absolute;
  right: 0px;
  top: height/2;
  z-index: -1;
}

/* hover for copy mail to clipboard */
.mailto-link {
	position: relative;
	padding: 8px 0;
}
.mailto-message {
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after,
	&:before {
		content: '';
	}
	&:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000000;
		border-width: 4px;
		margin-left: -4px;
	}
}
.mailto-link: hover .mailto-message,
.mailto-link: focus .mailto-message,
.mailto-link: focus-within .mailto-message {
	display: block;
}

/* styling below for fancy looks only */
.well {
	background-color: rgba(black, .03);
	border-radius: 1em;
	box-shadow: inset 0 2px 4px rgba(black, .05);
}

code {
	background-color: #e8f0e7;
	padding: 3px 6px;
}
input {
	padding: .6em 1.2em;
	border: 0;
	border-radius: 4px;
	font-size: 1.3em;
	text-align: center;
	&:focus {
		box-shadow: 0 0 3px 0 #b17b22;}
}
